@page
@model Api.Pages.WeatherModel
@{

    var cities = Model.Cities;

}


<div class="text-center" >
    <h3 class="display-4">City Weather List</h3>
</div>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <table class="table" style="width: 50%; text-align: center;">
        <thead>
            <tr>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in cities)
            {
                <tr>
                    <td>@city</td>
                    <td>
                        <a href="/Weather/City?city=@city" target="_blank" class="btn btn-success">See Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
